* {
    margin: 0;
    box-sizing: border-box;
}
  
h2{
    font-weight: 700;
    color:#282c34;
}

.teamMemberList{
    display: flex;

}

.user-photo {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    overflow: hidden;
    border: 1px solid #eaeaea;
}

.user-profile-photo{
    display: block;
    width: 100px;
    height: 100%;
    object-fit: cover;

}