.mypage-container{
  margin: 70px auto;
  width: 100%;
  height: 100%;
}

.mypage-profile-box{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.profile-box{
  max-width: 400px;
  max-height: 400px;
  overflow: hidden;
  border-radius: 50%;
}

.profile{
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-image: url('https://i.pinimg.com/originals/d6/24/97/d62497c09927ffb6fafe325ba4acbe8f.jpg');
  background-size: 100% 100%;
  transition: all 0.4s;
}

.profile:hover{
  transform:scale(1.5);
  cursor: pointer;
}

.contribution-box{
  position: absolute;
}

.contribution-box > .title{
  margin-right: 10px;
}

.contribution-box > .contribution{
  display: inline-block;
  border: 1px solid black;
  width: 50px;
  text-align: center;
  margin-right: 10px;
}

.box{
  margin-top: 80px;
  width: 100%;
}

.flex-box{
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  height: 50px;
}

.data{
  flex:1;
  padding: 0px 10px;
  border-radius: 5px;
  line-height: 50px;
  margin-left: 50px;
  background-color: #ddd;
  transition: all 0.4s;
  opacity: 1;
}

.data:hover{
  cursor: pointer;
  border-bottom: 1px solid black;
  opacity: 0.5;
}