* {
  margin: 0;
  box-sizing: border-box;
}


.projectPage{
  margin: 50px auto;
  max-width: 1000px;
  padding: 0 80px;
}


.projectPageTitle{
  font-size: 36px;
  margin-bottom: 60px;
}

.projectPageCell{
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.projectPageCell .bookmark{
  height: 30px;
  width: auto;
}

.topProject{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

