* {
    margin: 0;
    box-sizing: border-box;
}
.teamBoard{
    margin: 30px;
}
  
h2{
    font-weight: 700;
    color:#282c34;
}

.data{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 7fr 200px;
    margin: 40px 20px;
    max-width: 1100px;
}

// 게시판 리스트
.noticeList{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    text-align: left;
    
}
.notice{
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(238, 238, 238);
}

.notice a{
    display: block;
    color:#282c34;
}
.noticeIcons{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}
.notice img{
    width: 10px;
}

.noticeTitle{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.noticeContent{
    font-size: 16px;
    margin-bottom: 10px;
}





// 유저 프로필
article{
    margin-left: 20px;
}
.teamTitle{
    margin-bottom: 20px;
    text-align: left;
}
.teamMemberList{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    text-align: left;
}
.teamMember{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;

    
}


.user-photo {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 25px;
    border: 1px solid #eaeaea;
}

.user-photo img{
    width: 50px;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.user-data{
    margin-left: 10px;
}

.user-name{
    margin-bottom: 0px;
    font-weight: 700;
}


@media screen and (max-width: 560px) {
    .data{
        display: flex;
        flex-direction: column;
    }

    article{
        margin-left: 0;
    }
 
    .teamMemberList{
        display: flex;
        margin-left: 0;
        flex-direction: row;
        flex-wrap: wrap;

    }


}